@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

/* common styles */
html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

h1, h2, p, ul, li {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  box-sizing: border-box;
}

.main {
  flex-grow: 1;
}
/* buttons */
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
  display: inline-block;
}

.button:disabled {
  background-color: #E5E5E5;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button-second {
  background-color: #82B3D3;
}

.button-second:hover,
.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  background-color: #82B3D3;
}

.button-transparent {
  background: none;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  opacity: 0.1;
}

.button-selected {
  background: #7DB54F;
}

.button-second:hover,
.button-second:focus {
  background-color: #6C9E42;
}

.button-second:active {
  background-color: #7DB54F;
}

/* header */
.header {
  background-color: #FFFFFF;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-pages {
  width: 650px;
}

.navigation-user {
  max-width: 300px;
}

/* hero */
.hero {
  text-align: center;
}

.hero-welcome {
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-images {
  background: #c3a190 url("../images/hero-background.jpg") no-repeat center;
  background-size: cover;
}

.hero-description {
  background-color: #FFFFFF;
  padding-top: 69px;
  padding-bottom: 90px;
}

.hero-title {
  margin-bottom: 25px;
}

/* advantages */
.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-text {
  text-align: center;
  padding: 103px 85px 114px 85px;
  width: 230px;
}

/* search-hotel */
.search-hotel {
  background: #ffffff;
  text-align: center;
  width: 592px;
  padding: 96px 304px;
}

.search-hotel-title {
  margin-bottom: 20px;
}

.search-hotel-description {
  margin-bottom: 54px;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  width: 375px;
}

/* filter */
.filter {
  color: #ffffff;
  background: #c3a190 url("../images/catalog-background.jpg") no-repeat;
  background-size: cover;
  padding: 70px 35px 43px 70px;
}

.filter fieldset {
  border: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-buttons {
  align-self: flex-end;
}

/* breadcrumbs */
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;

}

/* accomodations filter */
.accomodations-filter {
  font-size: 18px;
  line-height: 23px;
  display: flex;
}

/* accomodations sorting */
.accomodations-sorting {
  padding: 40px 70px 50px 70px ;
  display: flex;
}

.catalog-list {
  padding-left: 70px;
  padding-right: 70px;
}

/* subscribe */
.subscribe {
  text-align: center;
  width: 684px;
  padding: 96px 258px 104px 258px;
  color: #ffffff;
  background: #c3a190 url("../images/subscribe-background.jpg") no-repeat;
  background-size: cover;
}

.subscribe-inner {
  color:#000000;
  background: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-description {
  margin-bottom: 54px;
}

.subscribe-email-field {
  width: 452px;
  padding: 12px 20px;
}

/* accomodations */
.accomodations-catalog {
  font-size: 18px;
  line-height: 21px;
}

.accomodations-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 538px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* footer */
.footer {
  background: #FFFFFF;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  text-align: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  width: 184px;
}

.phone-link {
  width: 720px;

}

.htmlacademy-link {
  margin-left: auto;
}

.social-link-vk {
  background: url("../images/icons/social/vk.svg") no-repeat;
}

.social-link-telegram {
  background: url("../images/icons/social/telegram.svg") no-repeat;
}

.social-link-youtube {
  background: url("../images/icons/social/youtube.svg") no-repeat;
}
