@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* common styles */
body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-title {
  margin-top: 0;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* input*/
.input-control,
.select-control {
  margin: 0;
  box-sizing: border-box;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  border-radius: 4px;
  border: 3px solid transparent;
}

.input-control {
  background-color: #F2F2F2;
}

.input-control:hover {
  background-color: #E6E6E6;
}

.input-control:focus-visible {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

@supports not selector(:focus-visible) {
  .input-control:focus {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
    outline: none;
  }
}

.input-control:active {
  background-color: #F2F2F2;
  border: 2px solid #000000;
}

/*select*/
.select-control {
  width: 292px;
  padding-right: 40px;
  padding-left: 18px;
  box-sizing: border-box;

  color: #000000;
  line-height: inherit;

  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icons/arrow-bottom-dark.svg") no-repeat;
  background-position: calc(100% - 18px) 50%;
  border: 2px solid #E5E5E5;
  cursor: pointer;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:hover,
.select-control:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .select-control:focus {
    border: 2px solid #68A2CA;
    outline: none;
  }
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/arrow-bottom-light.svg");
}

/* checkbox and radiobutton */
.control {
  display: flex;
  align-items: center;
}

.control-label {
  cursor: pointer;
}

.control-mark {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  box-sizing: border-box;

  background: #FFFFFF;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus-visible ~ .control-mark {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .control-input:focus ~ .control-mark {
    outline: 3px solid #83b3d3;
  }
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-label {
  opacity: 0.3;
  cursor: default;
}

.control-input[type="checkbox"] ~ .control-mark {
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked ~ .control-mark {
  background: #FFFFFF url("../images/icons/tick.svg") no-repeat center;
}

.control-input[type="radio"] ~ .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked ~ .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-color: #3F5E72;
  border-radius: 50%;

  content: "";
}

/* range */
.range-wrapper-inputs {
  display: flex;
  margin-bottom: 44px;
}

.range-from,
.range-to {
  position: relative;
  width: 143px;
}

.range-from {
  margin-right: 2px;
}

.range-input {
  width: 143px;
  padding: 9px 40px 8px 17px;
  font-weight: 700;
  -moz-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input:active {
  padding: 10px 41px 9px 18px;
}

.range-label {
  position: absolute;
  top: 12px;
  right: 20px;

  color: rgba(0, 0, 0, 0.3);
}

.range-from .range-input {
  border-radius: 4px 0 0 4px;
}

.range-to .range-input {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;

  background: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

@supports not selector(:focus-visible) {
  .range-toggle:focus {
    border: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    outline: none;
  }
}

.range-toggle:active {
  border-radius: 5px;
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-max {
  left: 207px;
}

/* buttons */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
  box-sizing: border-box;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #756157;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button:focus {
    background-color: #615048;
  }
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button-blue:focus {
    background-color: #68A2CA;
    outline: none;
  }
}

.button-blue:active {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
  border: 3px solid transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus-visible {
  background-color: transparent;
  border: 3px solid #83B3D3;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button-transparent:focus {
    background-color: transparent;
    border: 3px solid #83B3D3;
    outline: none;
  }
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.button-transparent:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button-green:focus {
    background-color: #6C9E42;
    outline: none;
  }
}

.button-green:active {
  background-color: #7DB54F;
}

/* header */
.header {
  display: flex;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  background-color: #FFFFFF;
}

.logo-link {
  position: relative;
  margin-right: 168px;
}

.logo {
  position: absolute;
  z-index: 2;
  margin-right: 30px;
}

.navigation {
  flex-grow: 1;
  font-weight: 700;
  font-size: 20px;
}

.navigation-list,
.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-icon-link {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;
  padding: 26px 12px 18px;
}

.link-search {
  background: url("../images/icons/search.svg") no-repeat center;
}

.link-favourites {
  background: url("../images/icons/heart.svg") no-repeat center;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  bottom: -1px;
  left: 16px;
  z-index: 2;

  width: calc(100% - 32px);
  height: 2px;

  background-color: #756257;

  content: "";
}

.navigation-pages {
  max-width: 550px;
}

.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

.favorites-count {
  position: absolute;
  top: 11px;
  right: 4px;

  display: block;
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;


  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
  margin-top: 14px;
}

/* hero */
.hero {
  text-align: center;
}

.hero-images {
  position: relative;

  height: 485px;

  background: #c3a190 url("../images/hero-background.jpg") no-repeat center;
  background-size: cover;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hero-images::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 59px;

  background: url("../images/hero-divider.svg") no-repeat center;

  content: "";
}

.hero-description {
  padding: 69px 270px 90px;
  background-color: #FFFFFF;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.hero-subtitle {
  margin: 0;
  color: #333333;
}

/* advantages */
.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-text {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding-top: 103px;
  padding-bottom: 40px;
  box-sizing: border-box;

  text-align: center;
}

.advantages-item-icon .advantages-text {
  padding-top: 77px;
}

.advantages-text::after {
  order: 2;
  align-self: center;

  display: block;
  height: 2px;
  width: 60px;
  margin-bottom: 30px;

  background: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-title {
  order: 1;

  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  order: 3;

  max-width: 230px;
  margin: 0 auto;

  color: #333333;
}

.advantages-item-blue .advantages-text {
  padding-top: 92px;
  color: #FFFFFF;
}

.advantages-item-blue .advantages-description {
  color: #FFFFFF;
}

.advantages-item-blue .advantages-text::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-item-icon .advantages-text::after {
  order: 1;

  display: block;
  width: 75px;
  height: 75px;

  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.advantages-item-icon.icon-home .advantages-text::after {
  background-image: url("../images/icons/home.svg");
}

.advantages-item-icon.icon-food .advantages-text::after {
  background-image: url("../images/icons/food.svg");
}

.advantages-item-icon.icon-gift .advantages-text::after {
  background-image: url("../images/icons/gift.svg");
}

.advantages-item-icon .advantages-title {
  order: 2;
}

/* search-hotel */
.search-hotel {
  padding: 96px 304px;
  text-align: center;
  background: #ffffff;
}

.search-hotel-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-hotel-button {
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
}

/* filter */
.filter {
  padding: 35px 70px 67px 70px;
  color: #ffffff;
  background: #c3a190 url("../images/catalog-background.jpg") no-repeat;
  background-size: cover;
}

.accomodations-filter {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 23px;
}

.container-left,
.container-right {
  display: flex;
}

.filter-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: 0;
}

.filter-title {
  padding: 0;
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-price {
  min-width: 288px;
  margin-right: 70px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-top: 56px;
}

.filter-buttons > .button:not(:last-of-type) {
  margin-bottom: 30px;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::before {
  position: absolute;
  right: -18px;
  top: 2px;

  width: 8px;
  height: 18px;

  background: url("../images/icons/arrow.svg") no-repeat;
  background-size: contain;

  content: "";
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link-home {
  display: block;
}

.home-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover .home-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active .home-icon {
  fill: rgba(255, 255, 255, 0.3);
}

/* subscribe */
.subscribe {
  display: grid;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 104px;


  color: #ffffff;
  text-align: center;

  background: #c3a190 url("../images/subscribe-background.jpg") no-repeat;
  background-size: cover;
}

.subscribe-inner {
  padding-top: 97px;
  color: #000000;
  background: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 55px;
}

.subscribe-email-field {
  width: 452px;
  padding: 11px 18px;
  border-radius: 4px 0 0 4px;
}

.subscribe-email-field:active {
  padding: 12px 19px;
}

.subscribe-inner .subscribe-email-field {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* accomodations sorting */
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.accomodations-amount {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-settings {
  display: flex;
}

.catalog-sorting {
  margin-right: 70px;
}

.catalog-view-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-view-item {
  margin-right: 8px;
  box-sizing: border-box;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-view-item:active,
.catalog-view-item:hover {
  border: 2px solid #000000;
}

.catalog-view-item:focus-within {
  border: 2px solid #68A2CA;
  outline: none;
}

.catalog-view-item:last-child {
  margin-right: 0;
}

.catalog-view-current {
  border-color: #000000;
}

.catalog-view-link {
  display: block;
  width: 44px;
  height: 44px;
}

.catalog-view-link:focus {
  outline: none;
}

.view-link-cards {
  background: url("../images/icons/view-card.svg") no-repeat center;
}

.view-link-table {
  background: url("../images/icons/view-table.svg") no-repeat center;
}

.view-link-list {
  background: url("../images/icons/view-list.svg") no-repeat center;
}

/* accomodations */
.accomodations-catalog {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 69px;

  font-size: 18px;
  line-height: 21px;

  background: #FFFFFF;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 19px 20px;
}

.catalog-list::after {
  display: block;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 39px;
  grid-column: 1 / -1;

  background-color: #E6E6E6;
  content: "";
}

.card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-image {
  display: block;
  width: 300px;
  margin-bottom: 16px;
  object-fit: contain;
}

.card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.card-price {
  justify-self: end;
}

.rating-stars {
  height: 17px;
  width: 20px;
  align-self: center;

  background: url("../images/icons/star.svg") no-repeat;
  background-position: 0 -10px;
}

.rating-stars-2 {
  width: 40px;
}

.rating-stars-3 {
  width: 70px;
}

.rating-stars-4 {
  width: 90px;
}

.rating-stars-5 {
  width: 120px;
}

.rating-description {
  display: block;
  padding: 9px 22px 7px 23px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;

  background: #F2F2F2;
  border-radius: 4px;
}

.card-button {
  padding: 8px 0;
}

/* pagination */
.pagination {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link,
.pagination-more {
  display: flex;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;

  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-more {
  color: inherit;
  background: none;
}

.pagination-item:first-child .pagination-link {
  color: #000000;
  background: #F2F2F2;
}

.pagination-item:not(:first-child):active .pagination-link {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.pagination-item:not(:first-child):hover .pagination-link,
.pagination-item:not(:first-child):focus-within .pagination-link {
  background: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:focus {
  outline: none;
}

/* footer */
.footer {
  display: flex;
  padding-top: 45px;
  padding-bottom: 30px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;

  background: #FFFFFF;
}

.phone-link {
  flex-grow: 1;
}

.htmlacademy-link {
  padding-top: 2px;
}

.htmlacademy-link svg {
  fill: #000000;
}

.htmlacademy-link:active svg {
  background: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:hover svg,
.htmlacademy-link:focus-visible svg {
  fill: #756157;
}

.htmlacademy-link:focus-visible {
  outline: none;
}

@supports not selector(:focus-visible) {
  .htmlacademy-link:focus svg {
    fill: #756157;
  }

  .htmlacademy-link:focus {
    outline: none;
  }
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.phone-link:hover,
.phone-link:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .phone-link:focus {
    color: #756157;
    outline: none;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 47px;
}

.social-icon  {
  fill: #83B3D3;
}

.social-link:hover .social-icon,
.social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.social-link:focus-visible {
  outline: none;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

@supports not selector(:focus-visible) {
  .social-link:focus .social-icon {
    fill: #68A2CA;
  }

  .social-link:focus {
    outline: none;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;

  display: block;
  width: 717px;
  min-height: 348px;
  box-sizing: border-box;
  margin: auto;
  padding: 64px 70px;

  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 66px;
  right: 52px;

  width: 52px;
  height: 52px;

  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus-visible {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}

@supports not selector(:focus-visible) {
  .modal-close-button:focus {
    background: #E6E6E6;
    border: 3px solid #83B3D3;
  }
}

.modal-close-button:active .button-close-icon {
  fill-opacity: 0.3;
}

.modal-title {
  margin-bottom: 64px;
}

.search-form {
  display: grid;
  align-items: center;
  row-gap: 48px;
}

.grid-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-group {
  display: flex;
  gap: 47px;
  align-items: center;
}

.field-group:last-of-type {
  margin-left: auto;
}

.field-column {
  display: flex;
}

.search-form .input-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.date-input {
  width: 440px;
  padding: 9px 40px 9px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  background: #F2F2F2 url("../images/icons/calendar.svg") no-repeat;
  background-position: calc(100% - 16px) 9px;
  border-radius: 4px;
}

.date-input:active {
  padding: 10px 41px 10px 17px;
  background-position: calc(100% - 17px) 10px;
}

.input-notice {
  position: absolute;

  margin: 0;
  margin-top: 4px;
  margin-left: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.notice-red {
  color: #FF5757;
}

.input-plus-minus {
  display: flex;
  align-items: center;
}

.count-input {
  order: 2;

  width: 31px;
  height: 48px;
  padding: 14px 6px;

  line-height: 20px;
  font-weight: 700;

  background: #F2F2F2;
  outline: none;
  border-radius: 0;
  -moz-appearance: textfield;
}

.count-input:active {
  padding: 15px 7px;
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.count-button {
  width: 40px;
  height: 48px;

  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-minus {
  order: 1;
  border-radius: 4px 0 0 4px;
}

.button-plus {
  order: 3;
  border-radius: 0 4px 4px 0;
}

.button-icon {
  fill: #756157;
  fill-opacity: 0.3;
}

.count-button:focus-visible .button-icon {
  fill: #000000;
  fill-opacity: 1;
  border: 3px solid #82B3D3;
}

@supports not selector(:focus-visible) {
  .count-button:focus .button-icon {
    fill: #000000;
    fill-opacity: 1;
    border: 3px solid #82B3D3;
  }
}

.count-button:hover .button-icon {
  fill: #000000;
  fill-opacity: 1;
}

.count-button:active .button-icon {
  fill-opacity: 0.2;
}

.search-button {
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;
}

/* tooltip */
.tooltip {
  position: relative;
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;

  color: #FFFFFF;

  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 41px;
  left: -114px;

  display: none;
  width: 256px;
  padding: 20px 18px 22px 22px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #FFFFFF;

  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  content: "";

  display: block;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;

  background: url(../images/icons/tooltip-arrow.svg) no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

@supports not selector(:focus-visible) {
  .tooltip-toggle:focus + .tooltip-text {
    display: block;
  }
}
