@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

/* common styles */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

/* buttons */
.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
}

.button:disabled {
  background-color: #E5E5E5;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button-second {
  background-color: #82B3D3;
}

.button-second:hover,
.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  background-color: #82B3D3;
}

.button-transparent {
  background: none;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  opacity: 0.1;
}

.button-selected {
  background: #7DB54F;
}

.button-second:hover,
.button-second:focus {
  background-color: #6C9E42;
}

.button-second:active {
  background-color: #7DB54F;
}

/* navigation */
.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* hero */
.hero {
  text-align: center;
}
.hero-images {
  background: #c3a190 url("../images/hero-background.jpg") no-repeat center;
}

.hero-description {
  background-color: #FFFFFF;
}

/* advantages */
.advantages {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* search-hotel */
.search-hotel {
  text-align: center;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  width: 375px;
  height: 52px;
}

/* filter */
.filter {
  color: #ffffff;
  background: #c3a190 url("../images/catalog-background.jpg") no-repeat center;
}

.filter fieldset {
  border: 0;
}

/* breadcrumbs */
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

/* accomodations filter */
.accomodations-filter {
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* subscribe */
.subscribe {
  text-align: center;
}

.subscribe {
  color: #ffffff;
  background: #c3a190 url("../images/subscribe-background.jpg") no-repeat center;
}

.subscribe-inner {
  color:#000000;
  background: #ffffff;
}

/* accomodations */
.accomodations-catalog {
  font-size: 18px;
  line-height: 21px;
}

.accomodations-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* footer */
.footer {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.social-link-vk {
  background: url("../images/icons/social/vk.svg") no-repeat;
}

.social-link-telegram {
  background: url("../images/icons/social/telegram.svg") no-repeat;
}

.social-link-youtube {
  background: url("../images/icons/social/youtube.svg") no-repeat;
}
